<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nikeedev.nikee.dto.categoryMapper">
	<select id="listAllCategory" resultType="categoryDTO">
		select * from category
	</select>
	
	<insert id="insertCategory" parameterType="categoryDTO">
		insert into category set cate_name = #{cate_name}
	</insert>
	
	<select id="getCategoryByNo" resultType="categoryDTO" parameterType="Integer">
		select * from category where cate_no = #{cate_no}
	</select>
	
	<update id="updateCategory" parameterType="categoryDTO">
		update category set cate_name = #{cate_name} where cate_no = #{cate_no}
	</update>
	
	<delete id="deleteCategory" parameterType="Integer">
		delete from category where cate_no = #{cate_no}
	</delete>
	
</mapper> 	
 	