<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nikeedev.nikee.dto.orderMapper">
	<insert id="insertOrder" parameterType="OrderDTO">
		insert into orders set order_price = #{order_price}, order_cost = #{order_cost},
			order_income = #{order_income}, order_regdate = now(),
			order_products = #{order_products}, order_name = #{order_name},
			order_addr = #{order_addr}, order_status = 0, mem_no = #{mem_no}
	</insert>
	
	<select id="getOrderListByNo" parameterType="Integer" resultType="OrderDTO">
		select * from orders where mem_no = #{mem_no}
	</select>
	
	<select id="getAllOrderList" resultType="OrderDTO">
		select * from orders
	</select>
	
	<select id="getOrderLast" resultType="OrderDTO">
		select * from orders where mem_no = #{mem_no} order by order_no desc limit 1
	</select>
	
	<update id="updateStatus" parameterType="Map">
		update orders set order_status = #{status}, imp_uid = #{imp_uid} where order_no = #{order_no}
	</update>
	
</mapper> 	
 	